<div class="body">
<form class="addEmployee">
	<h4 class="addEmployeeHeader">
		Employee Information
	</h4>
	<br>
	<select required name="accessLevel">
			<option>Sales Employee</option>
			<option>Administrator</option>
	</select>
	<br>
	<label>First Name</label>
	<input type="text" name="firstName">
	<br>
	<label>Last Name</label>
	<input type="text" name="lastName">
	<br>
	<label>Hire Date</label>
	<input type="text" name="hireDate">
	<br>
	<label>Phone Number</label>
	<input type="text" name="phone">
	<br>
	<label>Employee ID</label>
	<input type="text" name="employeeID">
	<br>
	<label>Password</label>
	<input type="text" name="password">
	<br>
	<h4 class="addEmployeeHeader">Address</h4>
	<label>Street Number</label>
	<input type="text" name="streetNumber">
	<br>
	<label>Street Name</label>
	<input type="text" name="streetName">
	<br>
	<label>Street Type</label>
	<input type="text" name="streetType">
	<br>
	<label>Address Type</label>
	<select required name="addressType">
		<option>House</option>
		<option>Apartment</option>
	</select>
	<br>
	<label>City</label>
	<input type="text" name="city">
	<br>
	<label>State</label>
	<input type="text" name="state">
	<br>
	<label>Zip</label>
	<input type="text" name="zip">
	<br>
	<label>Country</label>
	<input type="text" name="country">
	<br>
	<label>P.O. Box</label>
	<input type="text" name="pobox">
	<br>
	<label>Employee ID</label>
	<input type="text" name="employeeID">
	<br>
	<label>Password</label>
	<input type="text" name="password">
	<br><br><br>
	<input type="button" class="button redButton" value="Cancel">
	<input class="button blueButton" type="submit" value="Add">
	<br>
</form>
</div>