.main {
    margin-left: 16%;
    padding-top: 7%;
    width: 80%;
    height: 100vh;
            h1 {
            
                    // background-color: whitesmoke;
                    border-radius: 10px;
                    margin: 2px 0 2rem;
                    padding: 7px 1rem;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                    color: rgb(126, 5, 5);
                }
}