<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <mat-icon>my_location</mat-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">branches</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <mat-icon>workspaces</mat-icon>
    </div>
    <div class="value">
      <div class="top">295</div>
      <div class="bottom">Total Staff</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <mat-icon>groups</mat-icon>
    </div>
    <div class="value">
      <div class="top">45784</div>
      <div class="bottom">Active Staff</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <mat-icon>group</mat-icon>
    </div>
    <div class="value">
      <div class="top">346928</div>
      <div class="bottom">Staff on leave</div>
    </div>
  </div>
</div>
