<div class="body">
  <form class="app-container" id="taskList">
    <h1 class="app-header">Your Daily tasks</h1>
    <div class="add-task">
      <input
        name="addtask"
        type="text"
        autocomplete="off"
        placeholder="search"
        class="task-input"
      />
      <input
        type="submit"
        value=""
        class="submit-task"
        title="Add Task"
        id="submit"
        name="addTask"
      />
    </div>
    <ul class="task-list">
      <li class="task-list-item" *ngFor="let task of tasks; let i = index">
        <label class="task-list-item-label">
          <input type="checkbox" />
          <span>{{ task.name }}</span>
        </label>
        <span></span>
      </li>
    </ul>
  </form>
</div>
